@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
}

.background-light{
    background: $light;
}

.background-green{
    background: $green;
}

html,
body {
    overflow-x: hidden;
}

.wrap {
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: $black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $light; 
    border-radius: 10px;
}

