@charset "UTF-8";

$light: #D5E1E1;
$blue: #1B1464;
$purple: #F79CFF;
$pink: #ED58DF;
$light-yellow: #FFF5DA;
$light-blue: #0000FF;
$black: #252525;
$green: #0C5238;
$light-green: #12A720;
$yellow: #FFFF00;
$white: #FFFFFF;
