.header {
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        @include font (400, 15.5px, 20.89px, -0.16px, middle, uppercase);
    }

    &__buttons {
        width: auto;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    &__button-speakers {
        width: 78px;
        height: 21px;
        @include font (400, 15.63px, 100%, -0.24px, middle, uppercase);
        color: $black;
        position: relative;
        transition: all 0.5s;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $black 0 2px,
                transparent 2px 6px,
                $black 6px 12px,
                transparent 12px 16px,
                $black 16px 22px,
                transparent 22px 26px,
                $black 26px 32px,
                transparent 32px 36px,
                $black 36px 42px,
                transparent 42px 46px,
                $black 46px 52px,
                transparent 52px 56px,
                $black 56px 62px,
                transparent 62px 66px,
                $black 66px 72px,
                transparent 72px 76px,
                $black 76px 78px
            );
            background-repeat: no-repeat; 
            transition: opacity 0.5s;
            opacity: 1;
        }

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $light-yellow 0 2px,
                transparent 2px 6px,
                $light-yellow 6px 12px,
                transparent 12px 16px,
                $light-yellow 16px 22px,
                transparent 22px 26px,
                $light-yellow 26px 32px,
                transparent 32px 36px,
                $light-yellow 36px 42px,
                transparent 42px 46px,
                $light-yellow 46px 52px,
                transparent 52px 56px,
                $light-yellow 56px 62px,
                transparent 62px 66px,
                $light-yellow 66px 72px,
                transparent 72px 76px,
                $light-yellow 76px 78px
            );
            background-repeat: no-repeat; 
            transition: opacity 0.5s;
            opacity: 0;
        }
        
        &:hover {
            color: $light-yellow;

            &::before {
                opacity: 0;
            }
    
            &::after {
                opacity: 1;
            }
        }
    }

    &__button-tickets {
        width: 170.48px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $black;
        border-radius: 60px;
        border: 1px solid transparent;
        @include font (400, 16px, 100%, -0.24px, middle, uppercase);
        color: $light;
        transition: all 0.5s;

        &:hover{
            border: 1px solid $black;
            background: $light-yellow;
            color: $black;
        }
    }
}